
<h1>Rocket League</h1>
<hr>

<div class="row">
  <div class="col">
    <h3>Cars</h3>
    <hr>
    <ul>
      <li *ngFor="let car of cars">{{car.name}} - {{car.iq | number}} </li>
    </ul>
  </div>

  <div class="col">
    <h3>Add: (<small>{{new.name}}</small>)</h3>
    <hr>
    <form (ngSubmit)="add()">
      <input type="text" placeholder="Name" name="name" [(ngModel)]="new.name"/> <!-- [value]="new
      .name" (input)="changeName($event)" -->
      <input type="number" placeholder="IQ" name="iq" [(ngModel)]="new.iq"/>
      <button>Add</button>
    </form>
  </div>

</div>
